@font-face {
  font-family: 'vonique';
  src: url('./fonts/vonique-64/vonique-64.ttf') format('tff'),
    url('./fonts/vonique-64/vonique-64-bold.ttf') format('tff'),
    url('./fonts/vonique-64/vonique-64-italic.ttf') format('tff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'mansion';
  src: url('./fonts/mansions-brush-script/mansions-brush-script.ttf') format('tff');
  font-weight: 500;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./img/icon.png');
  font-family: 'mansion';
}